<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide{
            display: none;

        }
        .shade{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: black;
            opacity: 0.6;
            z-index: 100;
        }
        .add_model,.edit_model{
            position: fixed;
            height: 300px;
            width: 400px;
            top: 100px;
            left: 50%;
            z-index: 101;
            border: 1px solid red;
            margin-left: -200px;
        }

    </style>
</head>
<body>
    <h1>主机列表(对象)</h1>
    <div>
        <input id="add_host" type="button" value="添加">
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>主机ID</th>
                <th>主机名</th>
                <th>IP</th>
                <th>端口</th>
{#                <th>业务线ID</th>#}
                <th>业务线名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in v1 %}
                <tr hid="{{ row.nid }}" bid="{{ row.b_id }}">    {#      隐藏ID#}
{#                    <td>{{ row.nid }}</td>#}
{#                    可以写成forloop.counter,  显示的数据默认从1开始#}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.hostname }}</td>
                    <td>{{ row.ip }}</td>
                    <td>{{ row.port }}</td>
{#                    <td>{{ row.b_id }}</td>#}
                    <td>{{ row.b.caption }}</td>
                    <td><a class="edit">编辑</a>|<a class="delete">删除</a> </td>

                </tr>
            {% endfor %}
        </tbody>

    </table>

    <h1>主机列表(字典)</h1>
    <table border="1">
        <thead>
            <tr>
{#                <th>主机ID</th>#}
                <th>主机名</th>
                <th>业务线名称</th>
            </tr>
        </thead>
        <tbody>
            {% for row in v2 %}
                <tr hid="{{ row.nid }}" bid="{{ row.b_id }}">    {#      隐藏ID#}

                    <td>{{ row.hostname }}</td>
                    <td>{{ row.b__caption }}</td>
{#                    字典跨表取值需要用__双下划綫#}
                </tr>
            {% endfor %}
        </tbody>

    </table>


    <h1>主机列表(元组)</h1>
    <table border="1">
        <thead>
            <tr>
{#                <th>主机ID</th>#}
                <th>主机名</th>
                <th>业务线名称</th>
            </tr>
        </thead>
        <tbody>
            {% for row in v3 %}
                <tr hid="{{ row.0 }}" bid="{{ row.2 }}">    {#      隐藏ID#}

                    <td>{{ row.1 }}</td>
                    <td>{{ row.3 }}</td>
{#                    元组跨表取值需要用下标取值#}
                </tr>
            {% endfor %}
        </tbody>

    </table>


    <div class="shade hide"></div>
    <div class="add_model hide">
        <form id="add_form" method="post" action="/host">
            <div class="group">
                <input id="host" type="text" placeholder="主机名" name="hostname">
            </div>

            <div class="group">
                <input id="ip" type="text" placeholder="IP" name="ip">
            </div>

            <div class="group">
                <input id="port" type="text" placeholder="端口" name="port">
            </div>

            <div class="group">
                <select id="sel" name="b_id">
                    {% for op in b_list %}
                        <option value="{{ op.id }}">{{ op.caption }}</option>
                    {% endfor %}
{#                    <option>业务线一</option>#}
{#                    <option>业务线一</option>#}
{#                    <option>业务线一</option>#}
                </select>
            </div>
            <input type="submit" value="提交">
            <a id="ajax_submit" style="display: inline-block;padding: 5px;background: blue;color: white">悄悄提交</a>
            <input id="cancel" type="submit" value="取消">
            <span id="error_msg" style="color: red"></span>
    </form>
    </div>

    <div class="edit_model hide">
        <form id="edit_form" method="post" action="/host">
            <input type="text" name="nid" style="display: none;">
            <input  type="text" placeholder="主机名" name="hostname">
            <input type="text" placeholder="IP" name="ip">
            <input  type="text" placeholder="端口" name="port">
            <select id="sel" name="b_id">
                    {% for op in b_list %}
                        <option value="{{ op.id }}">{{ op.caption }}</option>
                    {% endfor %}
{#                    <option>业务线一</option>#}
{#                    <option>业务线一</option>#}
{#                    <option>业务线一</option>#}
            </select>
            <a id="ajax_submit_edit" style="display: inline-block;padding: 5px;background: blue;color: white">确认编辑</a>
            <input id="cancel" type="submit" value="取消">
            <span id="error_msg" style="color: red"></span>
    </form>
    </div>



<script src="/static/jquery-1.12.4.js"></script>

<script>
    $(function () {
        $('#add_host').click(function(){
            $('.shade,.add_model').removeClass('hide');
        });

        $('#cancel').click(function(){
            $('.shade,.add_model').addClass('hide');
        });
        $('#ajax_submit').click(function(){
            $.ajax({
                url:"/test_ajax",
                type:'POST',
                {#data:{'hostname':$('#host').val(),'ip':$('#ip').val(),'port':$('#port').val(),'b_id':$('#sel').val()},#}
                data:$('#add_form').serialize(),
                success:function (data) {
                    var obj = JSON.parse(data);
                    if (obj.status){
                        location.reload();
                    }else {
                        $('#error_msg').text(obj.error);
                    }

                }
            })
        });

        $('.edit').click(function () {
            $('.shade,.edit_model').removeClass('hide');
            var bid = $(this).parent().parent().attr("bid");
            var nid = $(this).parent().parent().attr("hid");
            $("#edit_form").find('select').val(bid);
            $("#edit_form").find('input[name="nid"]').val(nid);

            //修改
            $.ajax({
                data: $("#edit_form").serialize(),
            })
        })
    })
</script>
</body>
</html>